<h3>New Activity Type</h3>

<%= simple_form_for @activity_type, html: { class: 'form-horizontal', role: 'form', id: 'new-activity-form' }, wrapper: :horizontal_form do |f| %>
  <%= f.input :name %>
  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-9">
      <%= f.button :submit, class: 'btn-primary', value: 'Create New Activity Type' %>
    </div>
  </div>
<% end %>
